.table {
  max-width: 1240px;
  margin: 40px auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 16px;
}

.table-secondary {
  --bs-table-color: #fff;
  --bs-table-bg: rgba(255, 255, 255, 0.26);
  --bs-table-border-color: transparent;
  --bs-table-striped-bg: rgba(255, 255, 255, 0.29);
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: rgba(255, 255, 255, 0.46);
  --bs-table-active-color: #6c757d;
  --bs-table-hover-bg: rgba(255, 255, 255, 0.445);
  --bs-table-hover-color: #6c757d;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 15px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 15px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.table-utils {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.neutral {
  border: none;
  background-color: #fff;
}

.grey {
  color: rgb(218, 211, 211);
}

.grey-blue {
  color: rgb(127, 135, 164);
}

.btn-page {
  padding: 5px 15px;
  margin: 10px;
}
.show {
  justify-content: left;
  display: flex;
  width: 20%;
}

.selective {
  margin: 0 10px;
  width: 60px;
}

.filter {
  justify-content: right;
  display: flex;
  width: 30%;
}

.pagination {
  justify-content: right;
  display: flex;
  width: 100%;
}

.pagination .btn {
  margin: 5px;
  font-size: 12px;
  --bs-btn-padding-x: 1.5rem;
  color: #fff;
  font-weight: 900;
}

.nav-page {
  margin: 0 15px;
}

.showing {
  width: 30%;
}
